header{
    text-align: 100px;
}
nav{
    margin-top: 10px;
}
nav a{
    text-decoration: none;
    color: #808080;
    padding: 5px 15px;
    font-size: 15px;
}
nav a:hover{
    color: black;
}
.home{
    color: black;
    text-decoration: none;
    background-image: url("file:///C:/Users/Administrator/Downloads/Gemini_Generated_Image_u35foeu35foeu35f.jpg");
}
.deskripsiHome{
    width: 40%;
    height: 50px;
}